<!DOCTYPE HTML>
<html>
<head>
    <title>
    </title>
    <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <table id="courses">
        <% if((course.courseID == undefined) || (course.title == undefined) || (course.term == undefined) || (course.instructor == undefined)) { %>
            <tr>
                <td>
                    No course details available!
                </td>          
            </tr>
        <%} else { %>
            <tr>
                <th>Course Number</th>
                <th>Title</th>
                <th>Term</th>
                <th>Instructor</th>
            </tr>
            <tr>
                <td><%= course.courseID %></td>
                <td><%= course.title %></td>
                <td><%= course.term %></td>
                <td><%= course.instructor %></td>
            </tr>
            <tr>   
                <td colspan = "4" class="image"><%- include ('image.ejs') %></td>         
            </tr>
        <%} %>
    </table>
</body>
</html>